<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804683898520-3r3nqu30e3gee5suk1ov97lu6ijtbddj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804683898520-3r3nqu30e3gee5suk1ov97lu6ijtbddj</string>
	<key>API_KEY</key>
	<string>AIzaSyDdzDyBtzuU-A5On5XIRt0bVbYJmEA9cF0</string>
	<key>GCM_SENDER_ID</key>
	<string>804683898520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.fiume.flutter.fiume</string>
	<key>PROJECT_ID</key>
	<string>fiume-dev-alpha-1</string>
	<key>STORAGE_BUCKET</key>
	<string>fiume-dev-alpha-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804683898520:ios:a33afb84bbe5547336faed</string>
</dict>
</plist>